<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="username" value="cmpe239"/>
    <add key="password" value="cmpe239"/>
    <add key="second-username" value="your-second-username"/>
    <add key="second-password" value="your-second-password"/>
    <add key="moderated-subreddit" value="subreddit-you-moderate"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
